/AndroidClient/.gradle
/sourses/AndroidClient/local.properties
/AndroidClient/.idea/workspace.xml

/AndroidClient/.idea/libraries
/sourses/AndroidClient/.DS_Store
/AndroidClient/build
/sourses/AndroidClient/captures
/AndroidClient/AndroidClient.iml
/sourses/AndroidClient/gradlew
/AndroidClient/gradlew.bat
/sourses/AndroidClient/gradle.properties
/AndroidClient/gradle
/sourses/MultyThreadingServer/.settings
/MultyThreadingServer/bin
/sourses/MultyThreadingServer/.project
/MultyThreadingServer/.classpath
/MultyThreadingServer/target
/AndroidClient/app/src/main/java/com/fupm/skeb/androidclien/MainActivity.java

/AndroidClient/.idea
